version: "3.7"

services:
  app:
    image: docker.pkg.github.com/zimekk/swarm/app
    environment:
      - VIRTUAL_HOST=$HOST,www.$HOST

  proxy:
    image: jwilder/nginx-proxy
    ports:
      - 80:80
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
    environment:
      - DEFAULT_HOST=$HOST

  visualizer:
    image: dockersamples/visualizer:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      placement:
        constraints: [node.role == manager]
    environment:
      - VIRTUAL_HOST=visualizer.$HOST
